/* General body styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/* Background video styling */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* Overlay styling */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Navbar custom styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Transparent black */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link {
    color: white !important;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Soft white hover effect */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* Button styling */
.button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background: linear-gradient(45deg, #08090b, #cfc9cc);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button:hover {
    background: linear-gradient(45deg, #efefef, #b8d7f5);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.5), 0 4px 15px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.button:focus {
    outline: none;
}
