html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    
} 
    
    body{
        display:contents ;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }


.title-section {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration-thickness: 50%;

   
}
.title-section .lead {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration :dashed;
    color : whitesmoke;
    font-style: italic;

}




form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#recommendations {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#recommendations p {
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
    color: #333;
}


button[type="submit"]:hover {
    background-color: #555;
}




